.events {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .events .eventsTitle {
    font-family: "Gill Sans";
    font-size: 60px;
  }
  
  .picsList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* pics ITEM STYLING */
  
  .picsItem {
    border-radius: 15px;
    width: 300px;
    height: 260px;
    margin: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  
  .picsItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .picsItem p {
    margin-left: 30px;
  }
  
  @media only screen and (max-width: 1000px) {
    .picsList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .picsList {
      grid-template-columns: 1fr;
    }
  }